<h1 class="text-center">Редактировать статус товара</h1>

<%= render 'form', status: @status %>

<p  class="text-center">
  <%= link_to 'Просмотреть', @status %> |
  <%= link_to 'Назад', statuses_path %>
</p>