

<h1>Торговые точки и склады</h1>
<a href="<%= new_store_path %>"><button type="button" class="btn btn-primary">Добавить новое место</button></a>
<br><br>
<table class="table">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= link_to 'Изменить', edit_store_path(store) %></td>
        <td><%= link_to 'Удалить', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

